.textarea {
  box-sizing: border-box;
  width: 80%;
  /* margin-top: 40px; */
  font-family: "Caveat", cursive;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 12px;
  border-radius: 12px;
  background: linear-gradient(145deg, #beae88, #eed9a7, #d5b68e);
  color: #5a3e20;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
    inset 0 1px 4px rgba(255, 255, 255, 0.3);
  text-shadow: 0.5px 0.5px 1px rgba(90, 62, 32, 0.5);
  opacity: 0.6;
}

.textarea:hover {
  border-color: #c29f77;
  background: linear-gradient(145deg, #f6e9c8, #eed3a1, #d4b185);
}

.textarea:focus {
  outline: none;
  border-color: #a67c52;
  box-shadow: 0 0 5px 2px rgba(166, 124, 82, 0.5);
}

.textarea::placeholder {
  color: #a67c52;
  font-style: italic;
}

.main {
  background-image: url("https://res.cloudinary.com/kuldeepcloudinary/image/upload/v1743241191/pagedesign_dfgion.png");
}
